.table-input {
    width: 100%;
    border: solid transparent 1px;
    border-radius: 3px;
    background-color:transparent;
    text-align: center;
    transition: border 0.5s;
}

.table-input-focus, .table-input:hover{
    padding: 0px;
    border: solid grey 1px;
    background-color:transparent;
}

.layui-table{
    margin: 0 auto;
}
td{
    padding-top: 5px;
}
.btn-add-customer{
    cursor: pointer;
    transition: color 0.5s;
}
.btn-add-customer:hover{
    color: grey;
}
.table-div{
    height: 100px;
    overflow: auto;
    border-bottom: solid #ebebeb 1px;
}