@CHARSET "UTF-8";
body{
	font-family: "Microsoft Yahei";
	font-size: 15px;
}
#form_title{
	font-size: 20px;
	font-weight: bold;
}
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
#refresh_btn{
	width: 20px;
	height: 20px;
}

th{
	text-align: center !important;
}
td{
	text-align: center;
}
#main{
	margin: 20px;
}
#btnGroup {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}
#btnGroup input {
	margin-left: 10px;
}
#page{
	margin-top: 20px;
}
.roomBorder {
	width: 180px;
	height: 80px;
	border-radius: 10px;
	padding: 10px;
	padding-top: 5px;
	transition: background-color, box-shadow 0.8s, 0.8s;
	margin: 10px;
	display: inline-block;
	box-shadow: 2px 2px 2px #A9A9A9;
}

.roomBorder:hover {
	box-shadow: 4px 4px 4px #C0C0C0;
	cursor: pointer;
}

.roomBorder1 {
	background-color: #EE6363;
}

.roomBorder1:hover {
	background-color: #EE3B3B;
}

.roomBorder2 {
	background-color: #7CCD7C;
}

.roomBorder2:hover {
	background-color: #66CD00;
}

.roomBorder3 {
	background-color: #6495ED;
}

.roomBorder3:hover {
	background-color: #4876FF;
}

.roomBorder4 {
	background-color: #EEB422;
}

.roomBorder4:hover {
	background-color: #EE9A49;
}

.number {
	color: white;
	font-size: 30px;
}
.name{
	color: #fff;
}

.hint{
	float: right;
}

.hint div {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	display: inline-block;

}

.red {
	background-color: #EE6363;
}

.green {
	background-color: #7CCD7C;
}

.blue {
	background-color: #6495ED;
}

.yellow {
	background-color: #EEB422;
}

.hint span {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	font-size: 12px;
}

#container {
	margin: 10px;
}

.btn_opt {
	position: inherit;
	bottom: 0px;
	right: 0px;
	text-align: right;
}
.btn_opt div{
	/*border: 1px solid #ffd7bb;*/
	font-size: 14px;
	padding: 3px;
	border-radius: 3px;
	display: inline-block;
	transition: color 0.8s;
}
.btn_opt div:hover{
	cursor: pointer;
	color: #fff;
}