@CHARSET "UTF-8";
body{
	font-family: "Microsoft Yahei";
	font-size: 15px;
}
#form_title{
	font-size: 20px;
	font-weight: bold;
}
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}