@CHARSET "UTF-8";
body{
	font-family: "Microsoft Yahei";
	font-size: 15px;
}
#form_title{
	font-size: 20px;
	font-weight: bold;
}
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
#refresh_btn{
	width: 20px;
	height: 20px;
}

th{
	text-align: center !important;
}
td{
	text-align: center;
}
#main{
	margin: 20px;
}
#btnGroup {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}
#btnGroup input {
	margin-left: 10px;
}