td{
    padding-top: 5px;
}
table {
    width: 500px;
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 10px;
}
.td_title {
    float: right;
}
.datePicker{
    width: 140px;
    display: inline-block;
}
.Wdate{
    font-size: 13px;
}
.month-wrapper{
    font-size:12px;
}
.month1{
    margin-left: 0px;
}
.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td{
    font-size: 13px;
}
