#reserve-border{
    border: 2px solid #eeeeee;
    border-radius: 10px;
    width: 655px;
    height: 470px;
    margin-top: 20px;
    margin-left: 20px;
}
td{
    padding: 5px;
}
table {
    width: 500px;
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 10px;
}
.td_title {
    float: right;
}
.datePicker{
    width: 150px;
    display: inline-block;
}