.input{
    width: 200px;
}
.checkbox{
    text-align: left;
}
.add-form{
    width: 100%;
}
.layui-form{
    width: 500px;
    margin:0 auto;
}
table{
    width: 100%;
    margin-left: -100px;
}
td{
    padding-top: 5px;
}
.layui-form-label{
    width: 100px;
}
.add-form {
    border: 2px solid #eeeeee;
    border-radius: 10px;
    width: 930px;
    height: 550px;
    margin-top: 20px;
    margin-left: 30px;
}