table {
    margin: 0 auto;
    margin-top: 20px;
}

td {
    text-align: right;
    padding: 5px;
}
.role_choose{
    width: 100%;
    height:150px;
    overflow-y: scroll;
    text-align: left;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    padding: 3px;
}